.header {
  background-color: #f2f3f9;
}

.header > .header__content {
  padding: 2rem;
  display: flex;
  flex-flow: row-reverse wrap;
  max-width: 119rem;
  margin: auto;
  gap: 3rem 0;
}

.header > .header__content > * {
  flex: 1 1 auto;
}

@media screen and (min-width: 550px) {
  .header > .header__content {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
