.region--footer-middle {
  background-color: #001e44;
}

.region--footer-middle > .region__content {
  display: flex;
  flex-flow: row wrap;
  gap: 3rem;
  padding: 2rem;
  max-width: 119rem;
  margin: auto;
}

.region--footer-middle > .region__content > * {
  flex: 1;
}

@media screen and (min-width: 550px) {
  .region--footer-middle > .region__content {
    padding: 4rem;
  }
}

.region--footer-middle a {
  color: #fff;
}

.region--footer-middle a:focus {
  outline-color: #fff;
}