.region--overflow-large-viewports {
  display: none
}

@media(min-width: 950px) {
  .region--overflow-large-viewports {
    display: block
  }
}

.region--overflow-large-viewports:empty {
  padding: 0.6rem 0
}
