.region--content-bottom-small-viewports {
  display: grid;
  gap: 3rem;
  padding: 0 var(--page-side-padding);
  margin-bottom: 3rem
}

@media(min-width: 950px) {
  .region--content-bottom-small-viewports {
    display: none
  }
}
