.region--utility > .region__content {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  gap: 3rem;
}

[data-flex-mode="vertical"] .region--utility > .region__content {
  justify-content: center;
}
