.region--primary-nav {
  background-color: #0064bf;
}

.region--primary-nav > .region__content {
  padding: 0 2rem;
  max-width: 119rem;
  margin: auto;
}

@media screen and (min-width: 550px) {
  .region--primary-nav > .region__content {
    padding: 0 4rem;
  }
}
