.region--aside {
  flex: 1 1 calc(22.5% - 2rem);
  margin: 0 2.5% 0 2rem;
}

@media screen and (min-width: 550px) {
  .region--aside {
    flex-basis: calc(22.5% - 4rem);
    margin-left: 4rem;
  }
}
