.region--utility-small-viewports {
  display: flex;
  gap: 2rem;
  width: 100%;
  height: 100%;
  align-items: flex-end;
  justify-content: flex-end
}

@media(min-width: 950px) {
  .region--utility-small-viewports {
    display: none
  }
}
