@import "../../../../upstream-components/base/src/scss/imports/variables";
@import "../../../../upstream-components/base/src/scss/imports/layout";

.footer-top {
  background-color: $light-grey;
  padding: rem(5) rem(2) rem(2) rem(2);
  @include bp(xs) {
    padding: rem(5) rem(4) rem(6) rem(4);
  }
  @include bp(m) {
    padding-top: rem(4.5);
  }
  .menu {
    list-style: none;

    a {
      font-weight: 600;
      font-size: rem(1.4);
      line-height: rem(2.2);
      &:hover,
      &:focus {
        text-decoration: underline;
      }

      // disable "home" link
      &[data-drupal-link-system-path='<front>'],
      &[data-drupal-link-system-path='<front>'] + .toggle-submenu {
        display: none;
      }
      &.degrees-and-certificates-subheading {
        display: block;
        font-size: rem(1.2);
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: rem(.5);
      }
      &.degrees-and-certificates + .submenu {
        margin-left: 0;
      }
    }

    & > span {
      font-weight: 700;
      display: inline-block;
      width: 100%;

    }
    // first level links (headings)
    & > li {
      position: relative;

      @include bp(m) {
        padding: 0;
      }


      & > a {
        font-weight: 700;
        padding-top: rem(1.5);
        padding-bottom: rem(1.5);
        padding-right: 5%;
        display: inline-block;
        @include bp(m) {
          color: $true-blue;
        }
      }

      .toggle-submenu {

        font-size: rem(1.6);
        line-height: 1;
        color: $primary-blue;
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
        padding: rem(1.5);
        margin: rem(.5) 0;
        box-shadow: (rem(-0.1)) 0 rgba(255, 255, 255, 0.5);
        background: 0 0;
        border: 0;
        border-left: rem(0.1) solid $medium-grey;

        svg {
          transform: rotate(-45deg);
          transition: all .25s ease;
        }
        &[aria-expanded="false"] {
          svg {
            transform: rotate(0deg);
          }
          & + .submenu {
            visibility: hidden;
            padding: 0;
          }
        }
        &:focus, &:hover {
          color: $nittany-navy;
        }

      }

    }

    .degrees-and-certificates ~ .submenu {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 0fr 1fr 0fr;
      grid-auto-flow: row;
      grid-template-areas:
    "undergraduate topics"
    "graduate topics"
    "special-interest-courses all-topics";
      column-gap: 5%;
      margin-left: 0;
      li {
        &:nth-of-type(1) {
          grid-area: undergraduate;
        }

        &:nth-of-type(2) {
          grid-area: graduate;
        }

        &:nth-of-type(3) {
          grid-area: topics;
        }

        &:nth-of-type(4) {
          grid-area: special-interest-courses;
        }

        &:nth-of-type(5) {
          grid-area: all-topics;
        }
      }
    }

    > li > .submenu {
      padding-bottom: rem(1.5);
    }
  }

  &__cta {
    padding-bottom: rem(3);
    @include bp(m) {
      display: none;
    }
  }
  &__content {
    @include bp(m) {
      max-width: rem(111);
      display: grid;
      margin: 0 auto;
      grid-template-columns: 20% 40% 1fr;
      column-gap: 7.5%;
    }
  }

  &__logo {
    margin-bottom: rem(3.5);
    text-align: center;

    @include bp(m) {
      text-align: left;
    }

    a {
      display: block;
      outline-offset: rem(.2);
    }
    .sprite {
      color: $beaver-blue;
      width: rem(20);
      height: auto;
      margin: 0 auto;
    }
    @include bp(m) {
      margin-bottom: 0;
      margin-top: rem(1.5);
      .sprite {
        width: 100%;
      }
    }
  }

  &__main_navigation {
    margin-bottom: rem(3.5);
    @include bp(m) {
      margin-bottom: 0;
    }
    nav > ul > li:not(.parent) {
      border-bottom: rem(0.1) solid $medium-grey;
      a {
        display: block;
        margin-right: rem(5);
      }
    }

  }
  &__secondary_navigation {
    @include bp(m) {
      margin-top: rem(1.5);
    }
    .menu {
      margin: 0;
      padding: 0;
      li {

        display: inline;
        &:not(:last-child):after {
          content: '\2022';
          margin-left: rem(1.5);
          margin-right: rem(1.5);
          color: $sky-blue;
          @include bp(m) {
            content: unset;
          }
        }
        a {
          padding: 0 0 rem(2) 0;
        }

        @include bp(m) {
          display: block;

        }
      }
    }
    .title {
      font-size: rem(1.4);
      line-height: rem(2.2);
      padding-bottom: rem(2);
      font-weight: 700;
      display: inline-block;
      width: 100%;
      margin-top: rem(1.5);
      @include bp(m) {
        margin-top: 0;
      }
    }

    .secondary-menu {
      color: $nittany-navy;
      font-weight: 400;
      li {
        &:last-child a {
          padding-bottom: 0;
        }
      }
      li a {
        color: $nittany-navy;
        font-weight: 400;

        &:focus, &:hover {
          color: $primary-blue;
        }
      }
      @include bp(m) {
        margin-left: rem(2);
      }
    }
  }

  .submenu {
    display: block;
    transition: height .2s ease-in-out, visibility .2s, opacity .2s;
    margin-left: rem(2);
    li {
      display: block;
      font-size: rem(1.4);
      line-height: rem(1.8);
      margin-bottom: rem(.7);

      a {
        color: $nittany-navy;
        font-weight: normal;
        &:hover, &:focus {
          color: $true-blue;
        }
        &.view-all-programs {
          color: $primary-blue;
          font-weight: 700;
          text-transform: uppercase;
          font-size: rem(1.1);
          &:after {
            content: "\00a0\f105";
            color: $primary-blue;
            font-family: "Font Awesome 5 Pro";
          }
        }
      }
    }
  }

}
