{#
/**
 * @file
 * Overridden implementation to display the branding block.
 */
#}

{% extends "block.html.twig" %}
{% block content %}
  <style>
    .branding {
      display: flex;
      flex-flow: row wrap;
      gap: 2rem;
      color: #1e407c;
      align-items: flex-end;
    }

    .branding[data-flex-mode="vertical"] {
      justify-content: center;
    }

    .branding[data-flex-mode="vertical"] + .branding__tagline {
      margin-bottom: 0;
    }

    .branding__link {
      display: block;
      color: #1e407c;
      width: 19.2rem;
    }
    .branding__tagline {
      font-size: 2rem;
      margin-bottom: 1.2rem;
    }
  </style>
  <div class="branding" data-flex-wrap-aware>
    <a class="branding__link" href="/" title="Home">
      <span class="visually-hidden">Penn State World Campus</span>
      <svg class="sprite sprite--wc-mark" aria-hidden="true" viewBox="0 0 229 72"><use xlink:href="#wc-mark"></use></svg></a>
    <div class="branding__tagline">{{ site_name }}</div>
  </div>
{% endblock %}
