{#
/**
 * @file
 * Overridden implementation to display the branding block.
 */
#}

{% extends "block.html.twig" %}
{% block content %}
  <a href="#">Site branding block placeholder</a>

{#
  @TODO: Make a breadcrumbs component.

  include '@blocks/branding/branding.twig' with {
    logo: site_logo,
    name: site_name,
    slogan: site_slogan
  } only
#}
{% endblock %}
