{#
/**
 * @file
 * Overridden implementation to display the breadcrumb block.
 */
#}

{% extends "block.html.twig" %}
{% block content %}
  <a href="#">Breadcrumbs block placeholder</a>
  {#
    @TODO: Make a breadcrumbs component.

    include '@blocks/breadcrumbs/breadcrumbs.twig' with {
      links: links
    } only
  #}
{% endblock %}
