{#
/**
 * @file
 * Overridden implementation for a page wrapper.
 */
#}
{% if children %}
  {% if render_off_canvas_page_wrapper %}
    <div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas>
  {% endif %}
  {{ children }}
  {% if render_off_canvas_page_wrapper %}
    </div>
  {% endif %}
{% endif %}
