{#
/**
 * @file
 * Overridden implementation to display a region.
 */
#}
{% if content %}
  {{ attach_library('ooe/region--' ~ region|clean_class) }}
  <div{{ attributes }}>
    <div class="region__content">
      {{ content }}
    </div>
  </div>
{% endif %}
