@import "../../../base/src/scss/imports/variables";
@import "../../../base/src/scss/imports/layout";

html.nav-expanded {
  .block--primary-nav {
    overflow:visible;
  }
}

.primary-nav {
  min-height: 49px;
  font-family: $open-sans;
  position: relative;
  display: flex;
  background-color: $primary-blue;
  overflow: hidden;

  @include bp(l) {
    z-index: 2;
    background-color: rgba($primary-blue, 0.9);
    overflow: visible;
  }

  @include bp(xl) {
    min-height: 50px;
  }

  &__mobile-toggle {
    background: transparent;
    color: $white;
    border: none;
    padding: rem(1.25) rem(2);
    height: 50px;
    width: 100%;
    cursor: pointer;
    font-size: rem(1.4);
    font-family: $open-sans;
    font-weight: 600;
    position: relative;
    transition: background .2s;
    @include bp(l) {
      display: none;
    }

    &-collapsed,
    &-expanded {
      color: $white;
      position: absolute;
      transition: opacity .2s, visibility .2s;
      right: rem(1.5);
      top: 0;
      line-height: rem(5);
      display: flex;
      align-items: center;

      .sprite {
        height: 1.3rem;
        margin-left: rem(0.5);
      }
    }

    &-expanded {
      visibility: hidden;
      opacity: 0;
    }

    &[aria-expanded="true"] {
      .primary-nav__mobile-toggle {
        &-collapsed {
          visibility: hidden;
          opacity: 0;
        }

        &-expanded {
          visibility: visible;
          opacity: 1;
        }
      }
    }

    &:focus, &:active {
      outline-offset: -5px;
      outline: 2px solid $sky-blue;
      background: $nittany-navy;
    }
    &:hover {
      background: $nittany-navy;
    }

    // Slide out the menu when activated.
    &[aria-expanded="true"]  + .menu--l1 {
      transform: none;
      visibility: visible;
      .menu__toggle {
        @media all and (max-width: 1024px) {
          visibility: visible;
          opacity: 1;
        }
      }

      .menu__link--l1 {
        @media all and (max-width: 1024px) {
          visibility: visible;
          opacity: 1;
        }
      }

      .menu__item--has-children .menu__link:not(.menu__link--always-expanded) {
        max-width: calc(100% - 58px);

        @include bp(l) {
          max-width: unset;
        }
      }
    }
  }

  .menu {
    background-color: $white;
    list-style-type: none;
    padding: 0;
    margin: 0 0 0 auto;
    max-width: 400px;
    width: 100%;

    @include bp(l) {
      max-width: 1190px;
      margin: 0 auto;
      width: auto;
    }

    &--l1 {
      position: absolute;
      right: 0;
      top: 50px;
      z-index: 6;
      transition: .2s visibility, .2s transform;
      transform: translateX(400px);
      visibility: hidden;
      width: 100%;
      box-shadow: -3px 3px 10px rgba(0,0,0,.2);
      padding: 0 rem(1.5);

      @include bp(l) {
        box-shadow: none;
        position: relative;
        transform: none;
        background-color: $primary-blue;
        max-height: 50px;
        top: 0;
        display: flex;
        text-align: center;
        padding: 0 20px;

        [aria-expanded="true"] + .menu--l2 {
          visibility: visible;
          opacity: 1;
          top: 50px;
          box-shadow: rgba(0,0,0,.1) 0 2.5px 3px;

        }
      }
    }

    &--l2 {
      transition: height .2s ease, visibility .2s;
      overflow: hidden;
      padding-bottom: rem(1.5);
      height: 0;

      @include bp(l) {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        display: block;
        min-width: 230px;
        height: auto !important;
        transition: .2s opacity, .2s visibility;
        padding-top: 5px;
        padding-bottom: 5px;
      }

      &:not(.active) {
        height: 0;
        visibility: hidden;
        padding-bottom: 0;

        @include bp(l) {
          display: block;
          padding-bottom: 5px;
        }
      }

      &:hover {
        @include bp(l) {
          visibility: visible;
          opacity: 1;

        }
      }

    }

    &__item {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      background-color: $white;
      @include bp(l) {
        display: inline-block;
        flex: 1;
        min-width: unset;

      }
    }

    &__item--l1 {

      color: $nittany-navy;
      vertical-align: top;
      position: relative;
      &:not(:last-child) {
        border-bottom: 1px solid $medium-grey;

        @include bp(l) {
          border-bottom: none;
        }
      }

      @include bp(l) {
        background-color: $primary-blue;
        border-bottom: none;
        color: $white;

        &:hover .menu--l2 {
          visibility: visible;
        }
      }

      &:last-child {
        .menu {
          right: 0;
        }
      }
    }

    &__item--l2 {
      @include bp(l) {
        display: block;
      }
    }

    &__link {
      display: inline-block;
      text-decoration: none;
      flex-grow: 1;
      color: $nittany-navy;
      font-weight: 300;
      font-size: rem(1.6);
      padding: rem(2);
      transition: .2s color;

      @include bp(l) {
        font-size: rem(1.4);
      }

      @include bp(xl) {
        font-size: rem(1.6);
      }

      &:focus, &:active {
        outline: 2px solid $sky-blue;
        outline-offset: -2px;
        color: $primary-blue;
      }

      &:hover {
        color: $primary-blue;
      }

      &--active-trail, &.is-active {
        background-color: transparent;
        color: $primary-blue;
        font-weight: 700;

        @include bp(l) {
          background-color: $beaver-blue;
          color: $white;
        }
      }

      &--always-expanded + .menu__toggle {
        display: none;
      }
    }

    &__link--l1 {
      visibility: hidden;
      opacity: 0;
      padding: rem(2) rem(.5);
      transition: opacity .2s, visibility .2s;

      @include bp(l) {
        visibility: visible;
        opacity: 1;
        color: $white;
        font-weight: 600;
        padding: rem(1.6) rem(1.7);
        width: 100%;
        white-space: nowrap;
        transition: background .2s;
        height: 50px;
        &:active, &:focus, &:hover {
          background: $beaver-blue;
          color: $white;
        }

        &--active-trail, &.is-active {
          font-weight: 600;
        }
      }

      @include bp(xl) {
        padding: rem(1.6) rem(2);
      }
    }

    &__link--l2,
    &__link--l3 {
      background-color: transparent;
      color: $nittany-navy;
      padding: rem(1.5) rem(2);

      @include bp(l) {
        margin-left: 0;
        display: block;

        &:active, &:focus {
          outline-offset: -4px;
        }

        &:focus, &:active, &:hover {
          color: $primary-blue;
        }
      }

      &.is-active {
        color: $primary-blue;
        background-color: $white;
      }
    }

    &__link--l3 {
      @include bp(l) {
        padding: rem(1.5) rem(6) rem(1.5) rem(2);
      }
    }

    &__toggle {
      display: inline-block;
      background: transparent;
      border: none;
      cursor: pointer;
      opacity: 0;
      outline-offset: -2px;
      z-index: 1;
      visibility: hidden;
      transition: visibility .2s, opacity .2s;
      padding: 23px 15px 20px 31px;

      @include bp(l) {
        padding: 0;
        background-color: $beaver-blue;
        position: absolute;
        visibility: visible;
        top: 0;
        bottom: 0;
        right: 0;
        transition: none;
        pointer-events: none;
      }

      &:active, &:focus {
        outline: 2px solid $sky-blue;
        border: none;

        @include bp(l) {
          opacity: 1;
        }
      }

      &[aria-expanded="true"] .menu__chevron .sprite {
        transform: rotateZ(180deg);
      }
    }

    &__chevron {
      background-color: $white;
      color: $primary-blue;
      height: rem(1.3);
      vertical-align: middle;

      @include bp(l) {
        background-color: $beaver-blue;
        color: $white;
        font-size: rem(1);
        padding: 0 5px;
      }
    }
  }

  &:not(.primary-nav--initialized) {
    .menu--l2 {
      display: none;
    }
  }
}

/**
 * Special classing that only affects the degrees and certificates megamenu.
 */

// Hack for unsetting the relative positioning of the degree and cert menu
// to allow the submenu to expand the full width of main nav without using
// relative positioning.
.block--primary-nav .menu__item--l1:nth-child(3) {
  @include bp(l) {
    position: unset;
  }
}
.block--primary-nav [data-drupal-link-system-path="degrees-and-certificates"] ~ .menu {
  width: 100%;
  left: 0;

  &__toggle {
    @include bp(l) {
      left: unset;
      right: unset;
      margin-left: -18px;
    }
  }

  .degrees-and-certificates-subheading {
    font-weight: 700;
    color: $nittany-navy;
    text-transform: uppercase;
    margin-left: 0;
    font-size: rem(1.4);
    border-bottom: 1px solid $medium-grey;
    margin-right: 15px;

    @include bp(l) {
      padding-right: 0;
      padding-bottom: 5px;
      border-bottom: none;

    }
    &:hover, &:active, &:focus {
      color: $primary-blue;
    }

    .menu__link-inner {
      display: inline-block;
      width: 100%;
      @include bp(l) {
        padding-bottom: rem(.5);
        border-bottom: 1px solid $medium-grey;
      }
    }

  }

  .menu__item--l2 {

    padding-left: rem(1.5);

    @include bp(l) {
      padding-left: 0;
    }

    &:nth-child(3) {

      @include bp(l) {
        .menu {
          column-count: 3;

          .menu__item {
            width: 100%;
          }
        }
      }
    }

    &:nth-child(4) {
      clear: left;
      @include bp(l) {
        float: left;
        width: 50%;
        background: $light-grey;
      }
      .menu__link {
        font-weight: 600;
        padding-bottom: 0;
        height: 46px;
        text-transform: capitalize;
        &.is-active {
          @include bp(l) {
            background: $light-grey;
          }
          font-weight: 700;
        }
      }
    }

    &:nth-child(5) {
      background: $light-grey;
      text-transform: uppercase;
      @include bp(l) {
        float: right;
        width: 50%;
        text-align: right;
      }
      .menu__link {
        color: $primary-blue;
        padding-bottom: 0;
        padding-top: rem(1.8);
        font-weight: 700;
        font-size: rem(1.1);
        height: 46px;

        &:active, &:focus, &:hover {
          > span {
            text-decoration: underline;
          }
        }
        &.is-active {
          background: $light-grey;
          font-weight: 800;
        }

        @include bp(l) {
          padding-right: rem(4);
        }
      }
    }
  }

  .menu__link--l2 {
    padding-left: rem(.5);

    @include bp(l) {
      padding-left: rem(2);
    }
  }

  @include bp(l) {

    > .menu__item:nth-child(1),
    > .menu__item:nth-child(2) {
      width: 20%;
      float: left;
    }
    > .menu__item:nth-child(3) {
      position: relative;
      width: 60%;
      padding-bottom: 5px;
      padding-right: 20px;
      float: left;
    }

    &--l2 {
      padding-bottom: 0;
    }
  }
}
